@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
  }

:root {
  --grey1: rgb(249, 249, 249);
  --grey2: rgb(180, 180, 180);
  --blue: rgb(83, 141, 240);
}

body {
  font-size: 1.8rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
}

.content {
  max-width: 70rem;
  width: 100%;
  margin: 3rem auto 1rem;
}

a {
  color: inherit;
}

.links {
  color: var(--blue);
}

.subscribe, .left_content1_date {
  color: var(--grey2);
}

ul,ol {
    padding-left: 3rem;
}

.text {
  border: 2px solid var(--grey2);
}
.code_block{
    border: 2px solid var(--grey2);
    font-family:'Courier New', Courier, monospace;
}
.blue_button {
  color: var(--blue);
  border: 2px solid var(--blue) !important;
}

.grey_button {
  color: var(--grey2);
  border: 2px solid var(--grey2) !important;
}

.space {
    width: 80%;
    height: 0.5rem;
    background-color: var(--grey1);
}
  
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.navigation_head {
  font-size: 4rem;
}

.search_icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.main {
  display: flex;
  column-gap: 5rem;
}
.left_content {
  flex: 60%;
}

.left_content p {
  margin: 1.1rem 0;
}

.left_content1 .partone__date {
    font-size: 1.8rem;
    margin: 0.4rem 0 4rem;
}

.left_content2 {
  margin: 7rem 0 2rem;
}

.left_content2_button {
  border-radius: 5rem;
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  cursor: pointer;
}

.right_content {
  flex: 40%;
}

.right_content h3 {
  font-style: oblique;
  margin-bottom: 0.8rem;
}

.right_content article a {
  display: block;
}

.right_content article:nth-child(1) {
  background-color: var(--grey1);
}

.right_content article {
    margin-bottom: 3rem;
    padding: 2rem;
}

.footer {
  width: 100%;
  line-height: 9rem;
  text-align: center;
  border-top: 0.2rem solid var(--grey2);
  background-color: var(--grey1);
}

.info_footer {
  color: var(--grey2);
  font-family:inherit;
}